header, #mainpart, footer{
border: 1px solid black;
}
main{
font-family:Arial, Helvetica, sans-serif;


}
h1{
    border: 3px dotted green;
    margin: 50px;
    padding: 20px 30px 40px 50px;
    width: 50%;
    /*position: relative;
    position: absolute;
    top:100px;
    left:50px;
    z-index: +1; //layers
    */
}
a{
    background-color: yellowgreen ;
}
section{
    padding: 10px;
    border: 1px dashed red;
}
.sec1{

    color:#11ff55;
    float: left;
}
.sec2{

    float: left;
}
form{
    clear: left;

}
table, th, td{
    border: 1px solid black;
}
table{
    border-collapse: collapse;
}
/*h1~section //any sibling that is a section*/
/* img{
    max-width:100%;
    height:auto;  
width:100px;
} */

span:hover{
    cursor:pointer;
}